/* GENERALE STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
    background-color: rgb(40, 40, 40);
}

main {
    height: calc(100vh - 5rem); /* 5rem = footer's height */
}

h2, h3, h4, h5 {
    color: white;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

span {
    font-size: 12px;
}

a, span, p {
    color: rgb(117, 119, 123);
}

li {
    list-style: none;
}

/* UTILITY STYLE */
.flex-tool {
    display: flex;
}

.wrapper {
    flex-wrap: wrap;
}

.playlist-row {
    list-style: none;
}

.playlist-item {
    width: calc(100% / 2);
}

.overflow-hidden {
    overflow-y: hidden;
}

.overflow-scroll {
    overflow-y: scroll;
}

/* ASIDE STYLE */
#side-bar {
    width: 2.5rem;
    background-color: black;
    text-align: center;
}

#side-bar-top {
    height: calc(100vh - 4rem - 5rem); /* 4rem - 5rem = aside-bottom - footer's height */
    min-height: 400px;
}

#side-logo {
    width: 60%;
    margin-top: 8px;
}

#side-bar-container ul {
    /* flex-tool */
    flex-direction: column;
}

#side-bar-container li {
    position: relative;
}

#side-bar-container i {
    color: rgb(117, 119, 123);
    font-size: 1.2rem;
    padding: 6px 0;
    display: block
}

#side-bar-bottom {
    width: 100%;
    height: 4rem;
}

#side-bar-bottom a {
    display: block;

}

#sidebar-download {
    width: 1.4rem;
    height: 1.4rem;
}

#sidebar-profile {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid white;
    border-radius: 50%;
    background-color: gray;
}

/* CALL TO ACTION STYLE */
#call-action {
    position: fixed;
    top: 0;
    left: 2.5rem; /* 2.5rem = #side-bar width */
    width: calc(100% - 2.5rem); /* 2.5rem = #side-bar width */
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    /* flex-tool */
    justify-content: flex-end;
    align-items: center;
}

#action-button {
    color: white;
    font-size: 0.5rem;
    padding: 0.3rem 0.6rem;
    margin: 0.3rem 0.3rem;
    border: 1px solid white;
    border-radius: 1rem;
}

/* NAVBAR STYLE */
#main-nav {
    margin-top: 24px; /* 2rem = #call-action height */
}

#main-nav ul {
    /* flex-tool */
    justify-content: center;
}

#main-nav li {
    font-size: 10px;
    margin: 8px;
    position: relative;
}

/* MAIN-CONTAINER-SECTION STYLE */
#main-container {
    width: calc(100% - 2.5rem); /* 2.5rem = #side-bar width */
    background-color: rgb(21, 25, 33);
    padding: 16px 0;
}

#main-container section {
    margin: 0 16px;
}

.item-container {
    margin: 8px 8px 8px 0; 
}

.item-container img {
    width: 100%;
}

.lay-hover {
    font-size: 0;
    position: relative;
}

.hover-play {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

#popular-playlist .hover-play {
    border-radius: 50%;
}

.hover-play i {
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playlist-text {
    margin-top: 8px;
}

.item-container div {
    text-align: center;
}

.item-container h3, .item-container span {
line-height: 16px;}

#popular-playlist img {
    border-radius: 50%;
}

/* FOOTER STYLE */
footer {
    background-color: rgb(40, 40, 40);
    height: 4.5rem;
    padding: 0 6px;
    /* flex-tool */
    align-items: center;
    justify-content: space-between;
}

footer input {
    width:100%;
}

.inputs {
    padding-top: 6px;
}

footer i{
    color: white;
    font-size: 14px;
}

#footer-left {
    width: 30%;
}

#footer-left .flex-tool{
    align-items: center;
}

#footer-left img {
    width: 36px;
    height: 36px;
    margin-right: 5px;
}

.f-left-info {
    margin-right: 12px;
}

.f-left-info h5 {
    line-height: 15px;
}

.f-left-info span {
    font-size: 10px;
    line-height: 12px;
    display: block;
}

#footer-left i {
    padding-bottom: 2px;
    display: block;
    color: rgb(117, 119, 123);
}

#footer-center {
    width: 40%;
}

#footer-center input {
    margin: 0 8px;
}

.f-center-up, .f-center-down {
    justify-content: space-evenly;
}

#footer-right {
    width: 20%;
}

#footer-right .flex-tool {
    justify-content: space-evenly;
}

#footer-right i {
    margin-right: 6px;
}



/* RESPONSIVE MEDIA */
@media all and (min-width: 480px) {

    #footer-left {
        width: 20%;
    }

    #footer-center {
        width: 50%;
    }

    #footer-right {
        width: 20%;
    }
}

@media all and (min-width: 576px) {
    #side-bar {
        width: 5.5rem;
    }

    #main-container {
        width: calc(100% - 5.5rem); /* 5rem = #side-bar width */
    }

    #call-action {
        left: 5rem; /* 6rem = #side-bar width */
        width: calc(100% - 5.5rem); /* 5rem = #side-bar width */
    }

    #footer-center i {
        font-size: 20px;
    }
}

@media all and (min-width: 768px) {
    .playlist-item {
        width: calc(100% / 4);
    }
}

@media all and (min-width: 992px) {
    .playlist-item {
        width: calc(100% / 6);
    }
}

/* HOVER STYLE */
#action-button:hover {
    color: black;
    border: 1px solid black;
    background-color: white;
    transition: all 0.4s ease;
}

#main-nav a:hover {
    color: white;
    transition: color 0.4s ease;
}

#main-nav a::after {
    content: "";
    position: absolute; /* this remove the under-line from the document so when it appears it will not change the father size */
    bottom: 0px; /* this set the under-line on the bottom */
    left: 0; /* this set the width  */
    right: 0; /* this this set the width */
    height: 2px;
    background-color: rgb(158,	208, 78);
    transform: scaleX(0); /* this set the under-line invisible */
    transition: transform 0.3s ease;
}

#main-nav a:hover::after {
    transform: scaleX(1);
}

#side-bar li:hover i {
    color: white;
    transition: color 0.4s ease;
}

#side-bar-container li::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgb(158,	208, 78);
    transform: scaleY(0);
    transition: transform 0.3s ease;
}

#side-bar-container li:hover::after {
    transform: scaleY(1);
}

.lay-hover:hover .hover-play {
    display: block;
}


#footer-left i:hover {
    color: red;
    transition: color 0.4s ease;
}